
@font-face {
  font-family: 'Muller';
  src: url('/fonts/MullerRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('/fonts/MullerMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('/fonts/MullerExtraBold.ttf') format('truetype');
  font-weight: 800; 
  font-style: normal;
}


.header
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  
  margin: 0 auto;    /* Центрирует всю шапку по центру экрана */
  padding: 20px clamp(16px, 4vw, 40px); /* Динамические отступы слева и справа + отступ сверху/снизу */
  box-sizing: border-box; /* Чтобы паддинги не увеличивали ширину больше 1250px */
}
.header_logo
{
  width: 200px; 
  display: flex;
  align-items: center;
}
.header_logo a
{
  display: block;
  width: 100%;
}
.header_logo img
{
  width: 100%;
  height: auto;
  display: block;
}

.nav_bar
{
  display: flex;
  align-items: center;
}
.nav_bar ul 
{
  display: flex;
  list-style: none;
  gap: 10rem;

}
.nav_bar ul li
{
  font-family: 'Muller';
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  color: #F6DDD4;

  text-align: center;
}
.nav_bar ul li a
{
  color: inherit;
  text-decoration: none;
}
.header_actions
{
  display: flex;
  align-items: center;
  gap: 20px;
  
}
.btn--login
{
 font-family: Muller;
 font-weight: 500;
 font-style: Medium;
 font-size: 1.0625rem;
 line-height: 110%;
 letter-spacing: 0%;
 color: #FFFFFF;
 background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
 border-radius: 10px;
 padding: 10px 56px 10px 56px;
 border: 0px solid black;
 cursor: pointer;
 display: inline-block;
 text-decoration: none;
}
.btn--cart
{
  background: linear-gradient(261.69deg, #FF5D29 12.12%, #FE9C1C 86.72%);
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.btn--cart img
{
  display: block;
  max-height: 100%;
}
